name: Docker Image CI with tox

on:
  push:
    branches:
    - main
    - develop
  pull_request:
    branches:
    - main
    - develop

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%s')"
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag hilbertmodgroup:${{ steps.date.outputs.date }}
    - name: Run Sage doctests
      run: |
        docker run -t -e GIT_BRANCH=${{ github.sha }} --init hilbertmodgroup:${{ steps.date.outputs.date }} \
        sage -t -p 0 /home/sage/hilbertmodgroup/src /home/sage/hilbertmodgroup/examples

    - name: Run tox (without doctest)
      run: |
        docker run -t -e GIT_BRANCH=${{ github.sha }} --init hilbertmodgroup:${{ steps.date.outputs.date }} tox

